thead {
  width: 100%;
  tr {
    background: #08a284;
    th {
      font-size: 0.8rem;
      color: #fff;
      font-weight: 700;
      margin-bottom: 0;
      border: none;
      text-align: center;
      padding: 1rem;
      white-space: nowrap;
      text-transform: uppercase;
      &:first-child {
        border-radius: 6px 0 0 6px;
      }
      &:last-child {
        border-radius: 0 6px 6px 0;
      }
    }
  }
}
